<div role=\"main\" class=\"ui-content\">
<div class=\"ui-body ui-body-a ui-corner-all loxberry-logo\">
<div style=\"margin: 5%;\">
<form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
<div class="form-group">
<table valign="bottom" width="100%">
<tbody>
<tr>
<td align="left" valign="bottom">
<h2> Midea2Lox - Settings</h2>
</td>
<td colspan=5 align=center>
<font face="courier"><b><!--$midea2loxstatus--></b></font>
</td>
<td align="right" valign="middle">
<label id="labelmsenabled">
<h3><a href='/admin/system/tools/logfile.cgi?logfile=plugins/<!--$psubfolder-->/midea2lox.log&header=html&format=template&only=once' target='_blank'>Debug&nbsp;</a>&nbsp;</h3>
</label>
</td>
<td valign="middle" width="50">
<fieldset>
<select id="debug" name="debug" data-role="flipswitch">
<!--$select_debug-->
</select>
</fieldset>
</tr>
</tbody>
</table>
<br>
<table class="formtable" border="0" width="100%">
<tr>
<td width="25%">
<label id="labelfbpass">Miniserver:</label>
</td>
<td width="50%">
<select id="miniserver" name="miniserver" data-mini="true">
    <!--$select_ms-->
</select>
</td>
</tr>

<tr>
<td width="25%"><label>UDP Port</label></td>
<td width="50%"><input name="udp_port" type="number" min="7000" max="8000" maxlength="5" value="<!--$udp_port-->" data-validation-error-msg="* Please enter an free UDP-Port for the Receiver" /></td>
</tr>

<tr>
<td width="25%"><label>Save settings and restart Midea2Lox</label>
<td width="50%"><input id="savedata" name="savedata" type="submit" value="Speichern und Neustarten"></td>
</tr>



<td>
<b>Midea2Lox Server:</b>
</td>
<td>
<a id="button" data-icon="check" data-role="button" data-inline="true" data-mini="false" href="./index.cgi?do=start">Start</a>
<a id="button" data-icon="delete" data-role="button" data-inline="true" data-mini="false" href="./index.cgi?do=stop">Stop</a>
<a id="button" data-icon="refresh" data-role="button" data-inline="true" data-mini="false" href="./index.cgi?do=restart">Restart</a>
</td>
</tr>

<tr>
<td height="25px"></td>
</tr>
<tr>
<td><h2> Midea2Lox - discover Devices</h2></td>
<td><label>Midea User and Passwort are required to get Key and Token for the new V3 OSK-103 Sticks. Devices have to be in this MideaAccount and connected to the local Wifi.</label></td>
</tr>

<tr>
<td width="25%"><label>Midea User</label></td>
<td width="50%"><input name="MideaUser" type="email" value="<!--$MideaUser-->" data-validation-error-msg="* Please enter the User from Midea" /></td>
</tr>
<tr>
<td width="25%"><label>Midea Passwort</label></td>
<td width="50%"><input name="MideaPassword" type="password" autocomplete="off" value="<!--$MideaPassword-->" data-validation-error-msg="* Please enter the Password from Midea" /></td>
</tr>

<tr>
<td>
<b>Dsicover Midea Devices</b> Please wait...for Details see Log.
</td>
<td>
<a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="false" href="./index.cgi?do=discover">discover</a>
<a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="false" href="/admin/system/tools/logfile.cgi?logfile=plugins/<!--$psubfolder-->/midea2lox.log&header=html&format=template&only=once" target="_blank">Logfile</a>
</td>
</tr>

</tbody>
</table>
<br />
<table border="1" width="100%" height="100%" cellspacing="0" cellpadding="20" valign="top">
<tbody>
<tr>
<td width="100%">
<table>


</div>
</form>
      <!--$restartMsg-->
      <script>
         var $messages = $('#form-error-message');
         $.validate({
         	modules : 'security',
         	errorMessagePosition : $messages,
         });
      </script>
      </div>
   </div>
</div>
